<p>list-trainings works!</p>
<div *ngFor="let training of trainings">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <button class="btn btn-danger" (click)="deleteUser(user)"> Delete</button>
            <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button>
        </div>
    </div>
</div>