<div class="row p-2">
    <div class="col-md-3" *ngFor ="let item of training">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    Name: {{item.titre}}
                </div>
                <div class="card-subtitle">
                    description : {{item.description}}
                </div>
                <div class="card-text">
                   Formateur : {{item.formateur}}
                </div>
                <span>
                    <a href="#" class="btn btn-success btn-xs">Detail Employee</a>
                    <a href="#" (click)="editTraining(item)" class="btn btn-primary btn-xs">Edit Employee</a>
                    <a (click)= "deleteTraining(item.id)" class="btn btn-danger btn-xs">Delete Employee</a>
                </span>
            </div>
        </div>
    </div>
</div>