<div class="first-section">
    <div class="content">
        <h1>FORMACENTER</h1>
        <h2>Your way to excellence</h2>
        <div style="width: 700px;">
            <p>FormaCenter vous propose plusieurs formations continues sur les nouvelles technologies,
            langages de programmation et les frameworks qui sont en tendance dans le marché international.</p>
        </div>
    </div>
</div>

<div class="second-section">
    <h1>Les Formations </h1>
    <div class="row">
        <!-- <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> -->

        <app-list-trainings></app-list-trainings>
    </div>
</div>